body{

    background:black;
}
.h1{position:relative;text-align: left;background-color: black;padding: 2em;}
     a{font-style: italic;color: antiquewhite;text-decoration: none;padding:2px;}
     .btn{background-color: brown;font-style: italic;color: antiquewhite;box-shadow: solid black;}